<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

   <form [formGroup]="loginForm">
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
  </form> 

  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block">Registrar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" expand="block">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block">Esqueceu a Senha</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
